<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-contact-my-suffix-heading" jhiTranslate="ekartshoppingappApp.contact.home.createOrEditLabel">Create or edit a Contact</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!contact.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="contact.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ekartshoppingappApp.contact.mobile" for="field_mobile">Mobile</label>
                    <input type="text" class="form-control" name="mobile" id="field_mobile"
                        [(ngModel)]="contact.mobile" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ekartshoppingappApp.contact.workPhone" for="field_workPhone">Work Phone</label>
                    <input type="text" class="form-control" name="workPhone" id="field_workPhone"
                        [(ngModel)]="contact.workPhone" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ekartshoppingappApp.contact.homePhone" for="field_homePhone">Home Phone</label>
                    <input type="text" class="form-control" name="homePhone" id="field_homePhone"
                        [(ngModel)]="contact.homePhone" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ekartshoppingappApp.contact.email" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                        [(ngModel)]="contact.email" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
