<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="customer">
            <h2><span jhiTranslate="ekartshoppingappApp.customer.detail.title">Customer</span> {{customer.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ekartshoppingappApp.customer.customerName">Customer Name</span></dt>
                <dd>
                    <span>{{customer.customerName}}</span>
                </dd>
                <dt><span jhiTranslate="ekartshoppingappApp.customer.customerCategory">Customer Category</span></dt>
                <dd>
                    <span>{{customer.customerCategory}}</span>
                </dd>
                <dt><span jhiTranslate="ekartshoppingappApp.customer.userId">User Id</span></dt>
                <dd>
                    <span>{{customer.userId}}</span>
                </dd>
                <dt><span jhiTranslate="ekartshoppingappApp.customer.creditRating">Credit Rating</span></dt>
                <dd>
                    <span>{{customer.creditRating}}</span>
                </dd>
                <dt><span jhiTranslate="ekartshoppingappApp.customer.billToAddress">Bill To Address</span></dt>
                <dd>
                    <div *ngIf="customer.billToAddressId">
                        <a [routerLink]="['/address-my-suffix', customer.billToAddressId, 'view']">{{customer.billToAddressId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="ekartshoppingappApp.customer.shipToAddress">Ship To Address</span></dt>
                <dd>
                    <div *ngIf="customer.shipToAddressId">
                        <a [routerLink]="['/address-my-suffix', customer.shipToAddressId, 'view']">{{customer.shipToAddressId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="ekartshoppingappApp.customer.contactDetails">Contact Details</span></dt>
                <dd>
                    <div *ngIf="customer.contactDetailsId">
                        <a [routerLink]="['/contact-my-suffix', customer.contactDetailsId, 'view']">{{customer.contactDetailsId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/customer-my-suffix', customer.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
